<%- include("partials/header"); -%>
<div class="container mt-3">
    <div class="container-home content cards">
    <h3>Posts</h3>
    <h5><%= postId %></h5>
    <p><%= postContent %></p>
    </div>
</div>
<%- include("partials/footer"); -%>